.newsPage {
    display: flex;
    padding-top: 3%;
    color: rgb(0, 0, 87);
    position: relative; 
  }
  
  .leftContainer {
    width: 25%;
    position: absolute;
    left: 8%; 
    box-sizing: border-box;
  }
  
  .middleContainer {
    width: 32%;
    position: absolute;
    left: 38%; 
    box-sizing: border-box;
  }
  
  .rightContainer {
    width: 15%;
    position: absolute;
    left: 75%;
    box-sizing: border-box;
  }
  
  .locksBox {
    width: 100%; 
    background-color: white; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(16, 16, 16, 0.1); 
    border: 1.5px solid black;
  }
  
  .locksBox h2 {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-wrap;
  }
  
  .locksBox p {
    margin-top: 0;
    margin-bottom: 0;
  }
  

