.scrollingTextContainer {
  position: relative;
  width: 100%;
  height: 25px; 
  overflow: hidden;
  background-color: red; 
}

.scrollingText {
  display: flex;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
}

.textContent {
  flex-shrink: 0;
  font-size: 18px;
  color: white;
}

@keyframes scrollText {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(120%);
  }
}