.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 87);
  padding: 10px 20px;
}

.navName {
  font-size: 28px;
  font-weight: bold;
  color: white;
  /* width: 10%; */
}

.navTitle {
  font-weight: bold;
  color: white;
  margin-right: 26%;
}

.navLinks {
  display: flex;
  gap: 15px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #f0f0f0;
  text-decoration: underline;

}

.navLinks a:active {
  text-decoration: underline;
}

.active {
  font-weight: bolder;
}
